<template>
  <div class=" <%=data.lowerName%>" >
    <h3>{{ message }}</h3>
  </div>
</template>

<script>
  export default {
    name: "<%=data.name%>",
    data() {
      return {
        message:' hello"<%=data.name%>"',
      };
    },
    created() {},
    mounted() {},
    computed: {},
    methods: {},
  };
</script>

<style></style>
